<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Students</title>

    <link rel="stylesheet" href="~/Styles.css">
</head>
<body>
    <article>
        <section><img class="mainimg" src="logo.jpg" width="220" height="220" alt="Logo" title="Students"><h1>List of the Students</h1></section>
    </article>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
